:root {
  --primary: #2ec4b6;
  --primary-dark: #159a8c;
  --secondary: #e0fbfc;
  --background: #f7fff7;
  --text: #22223b;
  --border: #b2becd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #2ec4b6;
    --primary-dark: #43e6d0;
    --secondary: #16302b;
    --background: #7a7a7a;
    --text: #00a6ff;
    --border: #2ec4b6;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
